body {
    border: 0;
    margin: 0;
    padding: 0;
}

.top {
    padding: 8px 0;
    background: #f4bb44;
    position: relative;
}

.top_left {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top_left li {
    position: relative;
    line-height: 10px;
    display: inline-block;
    margin-left: 0;
    padding-right: 15px;
}

.top_left li i {
    font-style: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.top_left li p.left_text {
    margin: 0;
    line-height: normal;
    display: inline-block;
    flex-direction: column;
}

.top_right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: -12px;
}

.top_right ul li {
    display: inline-block;
    padding: 0;
}

.top_right ul li a {
    color: #2c2c2c;
    font-size: 16px;
    transition: 400ms;
    padding: 9px 12px;
}

.top_right ul li a:hover {
    color: #333;
    text-decoration: none;
}

.header_one {
    background: #000;
    padding: 15px 0;
}

.navbar-nav > li > a {
    padding: 15px 10px !important;
}

.navbar-nav > li:hover > a, .navbar-nav > li.active > a {
    color: #f4bb44 !important;
    position: relative;
}

.navbar-nav > li > a {
    font-family: "Montserrat", sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    font-size: 14px;
    margin: 0;
    line-height: 40px;
    padding: 30px 0;
    transition: 350ms;
}

a.nav-link {
    color: #fff;
}

.resume .btn-info {
    padding: 12px 25px !important;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
    line-height: normal;
    margin-top: 5px;
    background: #f4bb44;
    color: #000 !important;
    outline: none;
}

.resume .btn-info:hover {
    background: #f4bb44;
    color: #000 !important;
}

ul.navbar-nav > li.resume:hover > a:after {
    position: relative;
    content: no-close-quote;
}

.logo img {
    width: auto;
    height: 50px;
    border-radius: 50%;
}

a.name {
    text-decoration: none;
    color: #fff;
}

.bg-img-1 {
    background-image: url('../images/dp_short1.PNG');
}

.bg-img-2 {
    background-image: url('../images/grad_img.PNG');
}

.bg-img-3 {
    background-image: url('../images/skills3.PNG');
}

.carousel-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
   background: rgba(0,0,0,0.65);
}

.box-slider-text {
    background: 111;
    display: block;
    max-width: 650px;
}

.slide-title {
    font-size: 30px;
    color: #ffff;
    font-weight: 300;
    margin: 0;
}

.slide-sub-title {
    font-style: normal;
    font-size: 36px;
    line-height: 58px;
    margin: 8px 0 10px;
    font-weight: 900;
    color: #fff;
}

.slide-box-description {
    color: #ffff;
    text-transform: uppercase;
}

.slide-title-box {
    font-size: 16px;
    line-height: 30px;
    background: #f4bb44;
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        margin-bottom: 15px;
    }
    .resume .btn-info {
        padding: 12px 30px !important;
    }
    .carousel-inner .carousel-item{
        height: 550px;
    }
    .slide-title {
        font-size: 22px;
    }
    .slide-sub-title {
        font-size: 46px;
    }
}

@media only screen and (max-width: 767px) {
    .top_right ul {
        margin-right: 0;
    }
    
    .slide-title {
        font-size: 28px;
    }

    .slide-sub-title {
        font-size: 26px;
    }

    .slide-box-description {
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .carousel-inner .carousel-item{
        height: 450px;
    }

    .slide-title {
        font-size: 16px;
    }
    .slide-sub-title {
        font-size: 30px;
        line-height: 30px;
    }

    .carousel-caption {
        /* margin-bottom: -150; */
    }

    .carousel-image {
        min-height: 30vh;
        width: 70vh;
    }
}


.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
 }


.about_section-item {
    column-gap: 3rem;
}

@media only screen and (max-width: 992px) {
    .about_section-content h2 {
        font-size: 1.5rem;
    }

    .about_section-item {
        column-gap: 3rem;
    }

    .about_section-item p {
        font-size: 0.6rem;
        margin-bottom: 0;
    }

    .section_description i {
        font-size: 0.8rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .about_img {
        margin-top: 30px;
    }

    .about_section {
        margin-top: 250px;
    }
}

@media only screen and (max-width: 576px) {
    .about_section {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 768px){
    .about_content-title {
        margin-top: 2rem;
    }

    .about_content-title, .section_subtitle, .section_title {
        text-align: center;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills_skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    background: #272d33;
    border-radius: 5px;
    font-weight: 600;
    color: #f4bb44;

}


